.QwintoBoardItem-input {
    height: 32px !important;
    width: 34px !important;
}

.QwintoBoardItem .form-control {
    padding: 0px 7px !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
